@use 'sass:math';
@import '../../styles/settings.scss';

.button {
  position: absolute;
  top: -$base-size * 2;
  right: -$base-size * 2;
  font-size: $base-size * 2;
  border-radius: 100%;
  width: $base-size * 5;
  height: $base-size * 5;
}